.card{
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin: 10px;
    padding: 15px;
    border: 2px solid;
    border-radius: 8px;

    &.done{
        border-color: #4caf50;
    }
    &.current{
        border-color: #ff9800;
    }
    &.next{
        border-color: #ccc;
    }

    &:active, &:hover {
        cursor: pointer;
        border-color: #2196f3;
    }
}

.card-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.icon-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;


    &.done{
        background-color: #4caf50;
    }
    &.current{
        background-color: #ff9800;
    }
    &.next{
        background-color: #ccc;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: fit-content;
}

.card-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 8px;
}

.hidden {
    display: none;
}