.card{
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.card-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: fit-content;
}

.card-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 8px;
}

.hidden {
    display: none;
}